html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(99%)
        saturate(1%) hue-rotate(259deg) brightness(107%) contrast(100%);

    --body-bg-color: #292e39;
    --header-bg-color: #171c28;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
    --top-act-group-saparate-color: #ededf6;

    // Dropdown
    --dropdown-bg-color: #3b414e;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(24%) sepia(8%)
        saturate(1195%) hue-rotate(183deg) brightness(90%) contrast(87%);

    --top-menu-border-color: #171c28;

    --dropdown-menu-heading-color: #B9BABE;
    --menu-item-link: #B9BABE;
}
